<body>

  <div class="background" [ngClass]="{'blur': blurBackground}">
    <div class="navbar">
    <img src="assets/image/red-barcode.png" alt="">
    <a href="https://www.linkedin.com/in/nolwenn-bourey-512127201/" target="_blank"><button><img src="assets/image/linkedin.png" alt=""></button></a>
    </div>
  <div class="photo">
  <img src="assets/image/img-portfolio-filter5.png" alt="img">
</div>
<div class="presentation">
<img src="assets/image/presentation.png" alt="bla">
</div>
<div class="image">
  <img src="assets/image/portfolio.png" alt="My Portfolio" class="mobile-image">
  <div class="desktop-image">
    <a href="https://fontmeme.com/fonts/peckham-press-font/">
      <img src="https://fontmeme.com/permalink/240324/ae0bcf2c0a8780f7221e06892441f6c2.png" alt="peckham-press-font" border="0">
    </a>
    <p>SINCE 2020</p>
  </div>
</div>

  </div>
  <div class="card-container">
    <div class="div15">
  <img src="assets/image/skills.png" alt="">
</div>
<div class="div16">
  <img src="assets/image/languages.png" alt="">
</div>
<div class="div17">
  <img src="assets/image/uxui.png" alt="">
</div>
    <div class="div1">
      <h2>EDUCATION</h2>
    </div>
    <div class="div2">
      <img src="assets/image/univ.png" alt="">
      <h3>Licence 1 MIP Computer Science</h3>
      <h4>University of Science and Technology | Nantes</h4>
      <h5>2021-2022</h5>
    </div>
    <div class="div3">
      <img src="assets/image/epsi.png" alt="">
      <h3>SN2 Customer Relations</h3>
      <h4>EPSI | Nantes</h4>
      <h5>2021-2022</h5>
    </div>
    <div class="div4">
      <img src="assets/image/epsi1.png" alt="">
      <p></p>
      <h3>Bachelor 3 Full-Stack Development | Work at SECOM</h3>
      <h4>EPSI | Nantes</h4>
      <h5>2021-2022</h5>
    </div>
    <div class="div20">
      <img src="assets/image/epsi1.png" alt="">
      <p></p>
      <h3>Digital Project Manager at BNP Paribas</h3>
      <h4>Nantes</h4>
      <h5>2024-2025</h5>
    </div>
    <div class="div5">
      <h2>PROJECTS</h2>
    </div>
    <div class="div6">
      <a href="https://github.com/Nolwenn123/arosaje" target="_blank">
        <img src="assets/image/arosaje.png" alt="">
        <p>Arosaje</p>
      </a>
    </div>
    <div class="div7">
      <a href="https://github.com/Nolwenn123/pykedex" target="_blank">
        <img src="assets/image/pokemon.png" alt="">
        <h3>Pykedex</h3>
        <h4></h4>
      </a>
    </div>
    <div class="div8">
      <a href="https://github.com/Nolwenn123/flutter_project_final" target="_blank">
        <img src="assets/image/project.png" alt="">
        <h3>Flutter Project</h3>
      </a>
    </div>
    <div class="div9">
    <h2>WORK EXP</h2>
  </div>
  <div class="div10">
    <img src="assets/image/secom.png" alt="">
    <h3>Full-Stack Developer at Secom</h3>
      <h4>Nantes</h4>
      <h5>2023-2024</h5>
</div>
<div class="div11">
  <img src="assets/image/xloan.png" alt="">
  <h3>Full-Stack Developer at Xloan</h3>
      <h4>Nantes</h4>
      <h5>January - February 2023</h5>
</div>
<div class="div12">
  <img src="assets/image/web2day.png" alt="">
  <h3>Volunteer at the Web2Day festival</h3>
  <h4>Nantes</h4>
  <h5>May 31 - June 2 2023</h5>
</div>
<div class="div13">
  <img src="assets/image/mcdo.png" alt="">
  <h3>Multi-skilled team member at Mc Donald's</h3>
  <h4>Nantes</h4>
  <h5>July - August 2023</h5>
</div>
<div class="div14">
  <img src="assets/image/interim.png" alt="">
  <p>Interim Work</p>
</div>
</div>

  
</body>
