@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Gothic:wdth@81.1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght,YTLC@0,6..12,200..1000,485;1,6..12,200..1000,485&display=swap');
.background {
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: 
      linear-gradient(6deg, #9f2b2b, #000000, #344d36, #000000);
    background-size: 1000% 1000%;
    animation: AnimationName 15s ease infinite;
}

.background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://grainy-gradients.vercel.app/noise.svg);
    background-size: auto;
    filter: contrast(10%) brightness(80%) saturate(200%) blur(0.2);
    z-index: 5;
}

@keyframes AnimationName {
    0% { background-position: 51% 0% }
    50% { background-position: 50% 100% }
    100% { background-position: 51% 0% }
}



.photo {
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

@media screen and (max-width: 768px) {
    .photo {
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 1;
        padding-bottom: 40vh;
        padding-left: 33vw;
        width: 80vw;
        height: auto;
    }
    


}

.image {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.image p {
    font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 485;
    color: #e61e1e;
}

.image a img {
    width: 70vw;
    height: auto;
}

.photo img {
    width: 60%;
    height: auto;
}

.navbar img {
    padding-top: 5vh;
    padding-left: 3vw;
    width: 9vw;
    height: auto;
}

.navbar button {
    position: relative;
    background-color: transparent;
    border: none;
    float: right;
    margin-right: 3vw;  
    z-index: 6;
}

@media screen and (max-width: 768px) {
    .navbar img {
        width: 80px;
        padding-left:10vw;
    }

    .navbar button {
        width: 150px; 
        padding-right: 40vw;
    }
}
.presentation img {
    margin-right: 2vw;
    position: relative;
    float: right;
    width: 30vw;
    height: auto;
    z-index: 4;
}

@media screen and (max-width: 768px) {
    .presentation img {
        /* position: relative;
        float: right;
        width: 80vw;
        height: auto;
        z-index: 4; */
        display: none;
    }
}

.card-container {
    margin: 100vh 3vw 2vh 23%;
    position: absolute;
    padding: 20px;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 20px;
    width: 200px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.card-container img {
    width: 10vw;
    height: auto;
    border-radius: 10px;
}


.card-container p {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 485;
    color: #dc6f6f;
    font-weight: bold;
    text-align: left;
}

h2 {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 485;
    color: #dc6f6f;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 2 / 1 / 3 / 2; }
.div6 { grid-area: 2 / 2 / 3 / 3; }
.div7 { grid-area: 2 / 3 / 3 / 4; }
.div8 { grid-area: 2 / 4 / 3 / 5; }
.div9 { grid-area: 3 / 1 / 4 / 2; }
.div10 { grid-area: 3 / 2 / 4 / 3; }
.div11 { grid-area: 3 / 3 / 4 / 4; }
.div12 { grid-area: 3 / 4 / 4 / 5; }
.div13 { grid-area: 4 / 2 / 5 / 3; }
.div14 { grid-area: 4 / 3 / 5 / 4; }
.div15 { grid-area: 5 / 1 / 6 / 2; }
.div16 { grid-area: 5 / 2 / 6 / 3; }
.div17 { grid-area: 5 / 3 / 6 / 4; }
.div18 { grid-area: 5 / 4 / 6 / 5; }

.blur {
    filter: blur(5px);
    transition: filter 0.5s ease;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .card-container {
        margin: 0;
        padding-top: 80vh;
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(17, auto);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        width: 100%;
        overflow-x: hidden;
    }

    .card-container img {
        width: 50vw;
        height: auto;
    }

    .card-container p {
        text-align: center;
    }

    .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9, .div10, .div11, .div12, .div13, .div14, .div15, .div16, .div17, .div18 {
        grid-area: auto;
    }
}

/* Style pour les images mobiles */
.mobile-image {
    display: none;
  }
  
  /* Style pour les images desktop */
  .desktop-image {
    display: none;
  }
  
  /* Media query pour les écrans de téléphone */
  @media screen and (max-width: 768px) {
    .mobile-image {
      display: block;
      padding-bottom: 15vh;
      width: 90vw;
      height: auto;
    }
  }
  
  /* Media query pour les écrans d'ordinateur */
  @media screen and (min-width: 769px) {
    .desktop-image {
      display: block;
    }
  }
  
