<body>

  <div class="background" [ngClass]="{'blur': blurBackground}">
    <div class="navbar">
    <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456901/red-barcode_hoxvrf.png" alt="">
    <a href="https://www.linkedin.com/in/nolwenn-bourey-512127201/" target="_blank"><button><img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456900/linkedin_ryi4mg.png" alt=""></button></a>
    </div>
  <!-- <div class="photo">
  <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456899/img-portfolio-filter5_ozzym6.png" alt="img">
</div> -->
<div class="presentation">
<img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456901/presentation_tpskt9.png" alt="bla">
</div>
<div class="image">
  <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456901/portfolio_lroqlp.png" alt="My Portfolio" class="mobile-image">
  <div class="desktop-image">
    <a href="https://fontmeme.com/fonts/peckham-press-font/">
      <img src="https://fontmeme.com/permalink/240324/ae0bcf2c0a8780f7221e06892441f6c2.png" alt="peckham-press-font" border="0">
    </a>
    <p>SINCE 2020</p>
  </div>
</div>

  </div>
  <div class="card-container">
    <div class="div15">
  <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456901/skills_twl8hi.png" alt="" loading="lazy">
</div>
<div class="div16">
  <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456899/languages_qjm2xd.png" alt="" loading="lazy">
</div>
<div class="div17">
  <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456902/uxui_idjcgu.png" alt="" loading="lazy">
</div>
    <div class="div1">
      <h2>EDUCATION</h2>
    </div>
    <div class="div2">
      <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456902/univ_iwgwpk.png" alt="" loading="lazy">
      <h3>Licence 1 MIP Computer Science</h3>
      <h4>University of Science and Technology</h4>
      <h4>- C++, Typescript, SQL, algorithms<br>- Math<br>- English</h4>
      <h5>2021-2022</h5>
    </div>
    <div class="div3">
      <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456900/epsi_vf7u9p.png" alt="" loading="lazy">
      <h3>SN2 Full-Stack Development & Customer Relations</h3>
      <h4>EPSI</h4>
      <h5>2021-2022</h5>
    </div>
    <div class="div4">
      <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456900/epsi1_kjkl20.png" alt="" loading="lazy">
      <p></p>
      <h3>Bachelor 3 Full-Stack Development</h3>
      <h4>EPSI</h4>
      <h4>Angular, Django, PHP, Java</h4>
      <h5>2021-2022</h5>
    </div>
    <div class="div20">
      <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456900/epsi1_kjkl20.png" alt="" loading="lazy">
      <p></p>
      <h3>Digital Project Manager at BNP Paribas</h3>
      <h5>2024-2025</h5>
    </div>
    <div class="div5">
      <h2>PROJECTS</h2>
    </div>
    <div class="div6">
      <a href="https://github.com/Nolwenn123/arosaje" target="_blank">
        <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456900/arosaje_zbdngf.png" alt="" loading="lazy">
        <h3>Arosaje</h3>
      </a>
      <h4>Arosaje is a social network developed with Angular and Java, that allows users to find someone to take care of their plants.</h4>
      
    </div>
    <div class="div7">
      <a href="https://github.com/Nolwenn123/pykedex" target="_blank">
        <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736594506/Pykedex_hmphth.png" alt="" loading="lazy"/>
        <h3>Pykedex</h3>
      </a>
      <h4>Pykedex is a website developed with Django that lists all the Pokémon.</h4>
      
    </div>
    <!-- <div class="div8">
      <a href="https://github.com/Nolwenn123/flutter_project_final" target="_blank">
        <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456901/project_inbxgg.png" alt="" loading="lazy">
        <h3>Flutter Project</h3>
      </a>
    </div> -->
    <div class="div9">
    <h2>WORK EXP</h2>
  </div>
  <div class="div10">
    <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736594053/secom_ah0tak.png" alt="" loading="lazy">
    <h3>Full-Stack Developer at Secom</h3>
      <h5>2023-2024</h5>
</div>
<div class="div11">
  <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456902/xloan_zzabjx.png" alt="" loading="lazy">
  <h3>Full-Stack Developer at Xloan</h3>
      <h5>January - February 2023</h5>
</div>
<div class="div12">
  <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456902/web2day_ea8lbf.png" alt="" loading="lazy">
  <h3>Volunteer at the Web2Day festival</h3>
  <h5>May 31 - June 2 2023</h5>
</div>
<div class="div13">
  <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456900/mcdo_eikxji.png" alt="" loading="lazy">
  <h3>Multi-skilled team member at Mc Donald's</h3>
  <h5>July - August 2023</h5>
</div>
<div class="div14">
  <img src="https://res.cloudinary.com/dioxspyvs/image/upload/v1736456902/interim_tpuarp.png" alt="" loading="lazy">
  <p>Interim Work</p>
</div>
</div>

  
</body>
