<body>

  <div class="background" [ngClass]="{'blur': blurBackground}">
    <div class="navbar">
    <img src="assets/image/red-barcode.png" alt="">
    <a href="https://www.linkedin.com/in/nolwenn-bourey-512127201/"><button><img src="assets/image/linkedin.png" alt=""></button></a> -->
    </div>
  <div class="photo">
  <img src="assets/image/img-portfolio-filter5.png" alt="img">
</div>
<div class="presentation">
<img src="assets/image/presentation.png" alt="bla">
</div>
<div class="image">
  <img src="assets/image/portfolio.png" alt="My Portfolio" class="mobile-image">
  <div class="desktop-image">
    <a href="https://fontmeme.com/fonts/peckham-press-font/">
      <img src="https://fontmeme.com/permalink/240324/ae0bcf2c0a8780f7221e06892441f6c2.png" alt="peckham-press-font" border="0">
    </a>
    <p>SINCE 2020</p>
  </div>
</div>

  </div>
  <div class="card-container">
    <div class="div1">
      <h2>EDUCATION</h2>
    </div>
    <div class="div2">
      <img src="assets/image/univ.png" alt="">
      <p>licence 1 mip informatique</p>
    </div>
    <div class="div3">
      <img src="assets/image/epsi.png" alt="">
      <p>sn2 spécialité relation client</p>
    </div>
    <div class="div4">
      <img src="assets/image/epsi1.png" alt="">
      <p>bachelor 3 cda alternance chez secom</p>
    </div>
    <div class="div5">
      <h2>PROJECTS</h2>
    </div>
    <div class="div6">
        <img src="assets/image/arosaje.png" alt="">
        <p>arosaje</p>
    </div>
    <div class="div7">
        <img src="assets/image/pokemon.png" alt="">
        <p>pokemon</p>
    </div>
    <div class="div8">
        <img src="assets/image/project.png" alt="">
        <p>api</p>
    </div>
    <div class="div9">
    <h2>WORK EXP</h2>
  </div>
  <div class="div10">
    <img src="assets/image/secom.png" alt="">
    <p>alternance chez secom</p>
</div>
<div class="div11">
  <img src="assets/image/xloan.png" alt="">
  <p>xloan</p>
</div>
<div class="div12">
  <img src="assets/image/web2day.png" alt="">
  <p>web2day</p>
</div>
<div class="div13">
  <img src="assets/image/mcdo.png" alt="">
  <p>mc donald's</p>
</div>
<div class="div14">
  <img src="assets/image/interim.png" alt="">
  <p>interim work</p>
</div>
<div class="div15">
  <img src="assets/image/skills.png" alt="">
</div>
<div class="div16">
  <img src="assets/image/languages.png" alt="">
</div>
<div class="div17">
  <img src="assets/image/uxui.png" alt="">
</div>
</div>

  
</body>
